<!DOCTYPE html>
<html>
<head>
  <title>LoadTest Rails Server</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main" style="margin-bottom: 90px;">
  <%= render 'layouts/messages' %>
  <%= yield %>
</main>
</body>
</html>
